.errlist { @extend .hide-it; }

.has-error {
    .errlist {
        @extend .show-it;
        color: #a94442;
        text-align: left !important;
        background-color: lighten(#a94442, 50%);
        border: 1px solid #a94442;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top: none;
        margin-top: -1px;
        ul {
            padding: 10px;
            -webkit-padding-start: 20px;
            margin-bottom: 0;
            li {
                margin-right: 10px;
            }
        }
        &.rounded, &.inline {
            border-radius: 4px;
            border-top: 1px solid #a94442;
        }
        &.rounded {
            margin-top: 0;
        }
        &.inline {
            margin-top: 3px;
        }
    }
    .form-control{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.form-inline{
    .has-error{
        .form-control{
            border-radius: 4px;
        }
    }
}