//-------------------------------------------------------------------------------------------------------------------
// This file contains the styles for the Cinefiles Site COLORS
//-------------------------------------------------------------------------------------------------------------------

$beige: #fafafa;
$off-white: #fcfcfc;
.beige { color: $beige; }

.beige-bg { background-color: $beige; }

.off-white { color: $off-white; }

.off-white-bg { background-color: $off-white; }

// ---------- MMh Color Scheme ----------
//Blues
$ltblue: #3c9dd0;
$mdblue: #20437b;
$dkblue: #0f2066;
.ltblue { color: $ltblue; }

.ltblue-bg { background-color: $ltblue; }

.mdblue { color: $mdblue; }

.mdblue-bg { background-color: $mdblue; }

.dkblue { color: $dkblue; }

.dkblue-bg { background-color: $dkblue; }

//Reds
$ltred: #d22c2a;
$mdred: #9a4350;
$dkred: #8a0611;
.ltred { color: $ltred; }

.ltred-bg { background-color: $ltred; }

.mdred { color: $mdred; }

.mdred-bg { background-color: $mdred; }

.dkred { color: $dkred; }

.dkred-bg { background-color: $dkred; }

//Yellows/Light
$ltyellow: #f1ddc4;
$mdyellow: #ffc488;
$dkyellow: #ffcb66;
$yellowradial: radial-gradient(circle at 50% 50%, $ltyellow, $dkyellow);
.ltyellow { color: $ltyellow; }

.ltyellow-bg { background-color: $ltyellow; }

.mdyellow { color: $mdyellow; }

.mdyellow-bg { background-color: $mdyellow; }

.dkyellow { color: $dkyellow; }

.dkyellow-bg { background-color: $dkyellow; }

.yellowradial { color: $yellowradial }

.yellowradial-bg { background: $yellowradial }

//Darks/Shade
$grshdlt: #898c83;
$grshddk: #3a454c;
$blshd: #1d1f48;
$prplshd: #362035;
.ltgrey { color: $grshdlt; }

.ltgrey-bg { background-color: $grshdlt; }

.dkgrey { color: $grshddk; }

.dkgrey-bg { background-color: $grshddk; }

.blshd { color: $blshd; }

.blshd-bg { background-color: $blshd; }

.prplshd { color: $prplshd; }

.prplshd-bg { background-color: $prplshd; }

// ---------- Social Networks ----------
//(from http://designpieces.com/2012/12/social-media-colours-hex-and-rgb)
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #675144;
$linkedin: #007bb6;
$google: #dd4b39;
$youtube: #bb0000;
$vimeo: #aad450;
$twitch: #6441a5; // (from http://encycolorpedia.com/)

.facebook {
    color: $facebook;
    &:hover { color: darken($facebook, 15%); }
}

.twitter {
    color: $twitter;
    &:hover { color: darken($twitter, 15%); }
}

.instagram {
    color: $instagram;
    &:hover { color: darken($instagram, 15%); }
}

.linkedin {
    color: $linkedin;
    &:hover { color: darken($linkedin, 15%); }
}

.google {
    color: $google;
    &:hover { color: darken($google, 15%); }
}

.youtube {
    color: $youtube;
    &:hover { color: darken($youtube, 15%); }
}

.vimeo {
    color: $vimeo;
    &:hover { color: darken($vimeo, 15%); }
}

.twitch {
    color: $twitch;
    &:hover { color: darken($twitch, 15%); }
}