//-------------------------------------------------------------------------------------------------------------------
// This file contains various page style helpers for use with inline styling
//-------------------------------------------------------------------------------------------------------------------

// ---------- VISIBILITY ----------
.invisible { @extend .hide-it; }


// ---------- TEXT ----------
.bold { font-weight: 700; }


// ---------- MARGINS ----------
.m0 { margin: 0; }

.mt0 { margin-top: 0; }

.mr0 { margin-right: 0; }

.mb0 { margin-bottom: 0; }

.ml0 { margin-left: 0; }

.m5 { margin: 5px; }

.mt5 { margin-top: 5px; }

.mr5 { margin-right: 5px; }

.mb5 { margin-bottom: 5px; }

.ml5 { margin-left: 5px; }

.m10 { margin: 10px; }

.mt10 { margin-top: 10px; }

.mr10 { margin-right: 10px; }

.mb10 { margin-bottom: 10px; }

.ml10 { margin-left: 10px; }

.m20 { margin: 20px; }

.mt20 { margin-top: 20px; }

.mr20 { margin-right: 20px; }

.mb20 { margin-bottom: 20px; }

.ml20 { margin-left: 20px; }

.mtm1 { margin-top: -1px; }

.mtm2 { margin-top: -2px; }

.mtm3 { margin-top: -3px; }

.mtm4 { margin-top: -4px; }

.mtm5 { margin-top: -5px; }

.mlm1 { margin-top: -1px; }

.mlm2 { margin-left: -2px; }

.mlm3 { margin-left: -3px; }

.mlm4 { margin-left: -4px; }

.mlm5 { margin-left: -5px; }


// ---------- PADDING ---------
.p0 { padding: 0; }

.pt0 { padding-top: 0; }

.pr0 { padding-right: 0; }

.pb0 { padding-bottom: 0; }

.pl0 { padding-left: 0; }

.p5 { padding: 5px; }

.pt5 { padding-top: 5px; }

.pr5 { padding-right: 5px; }

.pb5 { padding-bottom: 5px; }

.pl5 { padding-left: 5px; }

.p10 { padding: 10px; }

.pt10 { padding-top: 10px; }

.pr10 { padding-right: 10px; }

.pb10 { padding-bottom: 10px; }

.pl10 { padding-left: 10px; }

.p20 { padding: 20px; }

.pt20 { padding-top: 20px; }

.pr20 { padding-right: 20px; }

.pb20 { padding-bottom: 20px; }

.pl20 { padding-left: 20px; }


// ---------- LISTS ---------
// Inline Lists with no indentation
.no-indent {
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-padding-start: 5px !important;
}